{% extends "base.html" %}

{% block content %}
<div class="column is-4 is-offset-4">
    <h3 class="title">Войти</h3>
    <div class="box">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div class="notification is-success">
                    {{ messages[0] }}
                </div>
            {% endif %}
        {% endwith %}
        {% if errors %}
            <div class="notification is-danger">
                {{ " ".join([errors[0]["loc"][0].capitalize(), errors[0]["msg"]]) }}.
            </div>
        {% endif %}
        <form method="POST" action="/login">
            <div class="field">
                <div class="control">
                    <input class="input is-large" type="email" name="email" placeholder="Ваш Email" autofocus="" value="{{ data.email }}">
                </div>
            </div>
            <button class="button is-block is-info is-large is-fullwidth" id="send_code">Отправить код</button>
        </form>
    </div>
</div>
{% endblock %}