{% extends "base.html" %}

{% block content %}
<div class="column is-4 is-offset-4">
    <h3 class="title">Отправили код на почту</h3>
    <div class="box">
        {% with messages = get_flashed_messages() %}
            <!--{% if messages %}
                <div class="notification is-danger">
                    {{ messages[0] }}
                </div>
            {% endif %}-->

            {% for message in messages %}
                <div class="notification is-danger">
                    {{ message }}
                </div>
            {% endfor %}
        {% endwith %}
        {% for error in errors %}
            <div class="notification is-danger">
                {{ " ".join([errors[0]["loc"][0].capitalize(), errors[0]["msg"]]) }}.
            </div>
        {% endfor %}
        <form method="POST" action="/login">
            
            <div class="field">
                <div class="control">
                    <input class="input is-large" type="email" name="email" readonly="readonly" value="{{ data.email }}">
                </div>
            </div>
            <div class="field">
                <div class="control">
                    <input class="input is-large" type="password" name="code" placeholder="Ваш Код" autofocus="">
                </div>
            </div>
            <div class="field">
                <label class="checkbox">
                    <input type="checkbox"> 
                    Запомнить устройство
                </label>
            </div>
            <button class="button is-block is-info is-large is-fullwidth">Отправить код</button>
        </form>
    </div>
</div>
{% endblock %}